div {
  box-shadow: rgba(4, 27, 23, 0.26) 40px 48px 80px 2px;
  border-radius: 5%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8% 28%;
  margin-top: 8%;
  width: 20rem;
  height: 20rem;
  background: #c8e8e9;
  width: 600px;
  position: relative;

}

button {
  margin: 5% auto;
  margin-left: 40%;
  height: 50px;
  font-weight: 70px;
  appearance: none;
  background-color: #0c533f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(215, 224, 233, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

h1 {
  font-weight: bold;
  text-shadow: 4px 4px 3px #9370DB;
  text-align: center;
  color: #0c533f;
}

h2 {
  text-align: center;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #0c533f;
}

button:focus {
  box-shadow: c533f(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3bb;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #0c533f;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}